header {
    background-image: url("../images/flywheel.jpg");
    padding:5% 10%;
    background-color:rgb(46,65,114);
    
}
.left {
    float: left;
    width: 20%; 
    background:#2E4172;
    padding:1%;
    margin-bottom:0%; 
    padding-bottom:25%;
}
.right {
    float: right;
    width: 76%;
    padding:1%;
}
body {
    padding:1%;
    margin:1%;
}


body a img{
    width:80%;
    border:2px solid rgb(255,255,255);
    margin-bottom:5%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    display:block;
}
body aside a{
}
footer {
    clear:both;
}
h1{
    color:rgb(255,255,255);
    text-align:center;
    text-transform:uppercase;
}
nav a{
    display:inline-block;
    background:rgba(57, 90, 171,0.5); 
    /*opacity: 0.8;*/
    border-radius:25px;
    text-decoration:none;
    margin-left:10%;
    padding:2%;
    
}
.active{
   background:#4278FF;
}
nav a:hover{
    background: #1B2439;
    color: rgb(255,255,255);
}
/*Here begins final project*/
table{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    padding:2%;
}
th,td{
    border: 2px solid rgb(255,255,255);
    background:rgb(153, 59, 247);
    padding:10px;
    text-align:center;
    color:rgb(255,255,255);
}
th:first-child,td:first-child{
    text-align:left;
}
th{
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border:1px  solid rgb(153, 59, 247);
    border-bottom:3px solid rgb(153,59,247);
    border-radius:5px 5px 0px 0px;
    font-family:"Courier New", Lucida, Verdana;
    font-size:120%;
}

tr{
    opacity:0.6;
}/*set all rows opacity to 0.6*/
tr:first-child{
    opacity:1;
}/*set th back to opacity 1*/
tr:hover{
    opacity:1;
}
td{
    font-family: Arial, Lucida;
    font-style:italic;
    text-shadow: 2px 2px rgb(62, 25, 99);
    border:1px;
    border-radius:2px;
    padding: 1.5% 3%;
    -webkit-transition: height 2s;
}
td:hover{
    height:50px;
}


/** {
    border: 1px solid black;
}*/
