/*style sheet 1*/
*{
	/*max-width:900px;*/
}
html {
	margin-left:auto;
	margin-right: auto;
	/*border:1px solid black;*/
}
h1 {
	/*text-align: center;*/
	/*padding-left:0%;*/

}
header {
	background-image: url("../img/ccav_icon.png");
}
#header{
	display: inline-block;
	width:375px;
	margin-left:auto;
}
#subtitle {
	text-align: right;
}
/*nav li{
	display:inline-block;
	margin:1% 3%;
}*/
#left {
	/*float: left;*/
	/*width: 65%;*/
	/*height: 50%;*/
	/*display: inline-block;*/
	/*padding: 2%;*/
	/*border:1px solid black;*/
}

dfn {
    /*font-style: normal;*/
}

#right {
	/*float: right;*/
	/*width:35%;*/
	/*display: inline-block;*/
	/*border:1px solid black;*/
	/*padding:2%;*/
}
.body{
	/*border:1px solid black;*/
	/*height:50%;*/
	/*flex:1;*/
}
/*body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}*/
/*img {
	display: inline-block;
	width:80%;
	border:1px solid black;
}*/

footer{
	float: clear;
	width: 100%;
	display:block;
}
footer a{
	width: 15%;
	display:block;
}
/*footer img{
	display: block !important;
	width: 10% !important;
}*/
/*indicate wireframe*/
/** {
	border: 1px solid black;
}*/
/*=========form content control===========*/
.wot-choose{
	display: normal;
}
.sc2-choose{
	display:none;
}
.ow-choose{
	display:none;
}
