/*style sheet 1*/

h1 {
	text-align: center;
}
nav li{
	display:inline-block;
	margin:1% 6%;
}
#left {
	float: left;
	width: 75%;
	display: inline-block;
}

#right {
	float: right;
	width:20%;
	display: inline-block;
}

img {
	display: inline-block;
	width:20%;
}

footer {
	float: clear;
}